<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>Sakany || Contact</title>
</head>

<body>


    <!-- section header start -->
    <header>
        <div class="container">
            <a href="../index.html" class="logo"> <span>Sakany</span></a>
            <nav class="navber">
                <a href="../index.html">Home</a>
                <a href="reports.html">Reports and data</a>
                <a href="contact.html">Contact</a>
                <a href="real_estate_market.html">Real estate market</a>
                <a href="../auth/register.html">signup</a>
            </nav>
            <div id="translate"></div>
            <i class="fa-solid fa-bars" id="menu"></i>
        </div>
    </header>
    <!-- section header ends -->

    <section class="email_us">
        <h1 class="heading">Email us</h1>
        <p class="email">Please fill out the form, so that we can serve you better</p>
        <div class="form-container">
            <form action="#" class="box" method="post">
                <p>type of inquiry<span>*</span></p>
                <input type="text" placeholder="type of inquiry" name="inpuiry" required class="input">
                <p>Beneficiary Name<span>*</span></p>
                <input type="text" name="name" id="" placeholder="enter beneficiary Name" required>
                <p>ID Number <span>*</span></p>
                <input type="number" placeholder="ID Number" name="id_number">
                <p>phone number <span>*</span></p>
                <input type="number" name="phone" id="" placeholder="enter your phone" required>
                <p>Email Address</p>
                <input type="email" name="email" id="" placeholder="enter your email" required>
                <p>region <span>*</span></p>
                <input type="text" name="region" id="" placeholder="enter your region">
                <p>City <span>*</span></p>
                <input type="text" name="city" id="" placeholder="enter your City">
                <p>message <span>*</span></p>
                <textarea name="message" id="" cols="30" rows="10" placeholder="enter your message"></textarea>
                <input type="submit" value="send message" class="btn" name="send_message">
            </form>
        </div>
    </section>


    <section class="population">
        <h1 class="heading">population affairs</h1>
        <div class="container-population">
            <div class="box-population">
                <img src="../icons/certificate.png" alt="">
                <h4>Real estate developer qualification certificate for sale projects</h4>
                <p>Completed Service Center</p>
                <button class="btn">start service</button>
            </div>
            <div class="box-population">
                <img src="../icons/promotion.png" alt="">
                <h4>Requesting emergency exceptions for residential projects</h4>
                <p>Completed Service Center</p>
                <button class="btn">start service</button>
            </div>
            <div class="box-population">
                <img src="../icons/registered.png" alt="">
                <h4>Register a new user in the white land fees</h4>
                <p>Completed Service Center</p>
                <button class="btn">start service</button>
            </div>
            <div class="box-population">
                <img src="../icons/search.png" alt="">
                <h4>Submit a request to update the white land data</h4>
                <p>Completed Service Center</p>
                <button class="btn">start service</button>
            </div>
        </div>
    </section>

    <section class="onsearch">
        <div class="container-onsearch">
            <div class="box">
                <h1>search more projects in the market</h1>
                <button class="btn">Visit the market</button>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container-footer">
            <div class="box-footer">
                <h1>real estate market</h1>
                <a href="#">Visit the market</a>
                <h1 class="products">Learn about sakani products</h1>
                <p>private sector projects</p>
                <p>Ready-made ministry villas product</p>
            </div>
            <div class="box-footer">
                <h1>Services</h1>
                <p>Real estate unit sorting service</p>
                <p>Check eligibility status</p>
                <p>Documentation of lease contracts</p>
                <p>engineering designs</p>
            </div>
            <div class="box-footer">
                <h1>Reports and data</h1>
                <p>rental indicators</p>
                <p>Interactive housing report</p>
                <p>Real estate indicators</p>
                <p>Real estate advisor</p>
            </div>
            <div class="box-footer">
                <h1>Connect with us</h1>
                <p>privacy policy</p>
                <p>List of housing support</p>
            </div>
        </div>
    </footer>

    <div class="copy">
        <h1>All rights reserved to Sakani © 2023 - <span>Developed and operated by National Housing</span></h1>
    </div>


    <!-- js file -->
    <script src="../script/script.js"></script>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>


    <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
    <script>
        function loadGoogleTranslate() {
            new google.translate.TranslateElement("translate")
        }
    </script>

    
</body>

</html>