<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>Sakany</title>
</head> 
<body>
    

    <!-- section header start -->
        <header>
            <div class="container">
                <a href="../index.html" class="logo"> <span>Sakany</span> with anywhere</a>
                <nav class="navber">
                    <a href="../index.html">Home</a>
                    <a href="reports.html">Reports and data</a>
                    <a href="#">Services</a>
                    <a href="#">Contact</a>
                    <a href="index.html">Real estate market</a>
                    <a href="auth/register.html">signup</a>
                </nav>

                <i class="fa-solid fa-bars" id="menu"></i>
            </div>
        </header>
    <!-- section header ends -->

    <section class="residential">
        <h1>Residential reports and data</h1>
        <p>Because the goal is to achieve satisfaction for sakani beneficiaries, you can now, through the reports and data page, view the sakani report and the open data platform</p>
        <div class="box-residential">
            <div class="image">
                <img src="../images/about-1.jpg" alt="">
            </div>
            <div class="info-image-residential">
                <h1>rental index</h1>
                <p>Now in the sakani platform and through the rental index, you can view the number of deals documented in the rental platform according to the spatial data of real estate.</p>
                <button class="btn">View the report</button>
            </div>
        </div>
        <div class="box-residential">
            <div class="info-image-residential">
                <h1>Interactive housing report</h1>
                <p>In the interactive report, you can find out the types of housing occupied by Saudi families in the regions of the Kingdom.</p>
                <button class="btn">View the report</button>
            </div>
            <div class="image">
                <img src="../images/about-2.jpg" alt="">
            </div>
        </div>
        <div class="box-residential">
            <div class="image">
                <img src="../images/about-3.jpg" alt="">
            </div>
            <div class="info-image-residential">
                <h1>Real estate indicators</h1>
                <p>Through the real estate indicators report, we aim to increase transparency in the Saudi real estate market.</p>
                <button class="btn">View the report</button>
            </div>
        </div>
    </section>

    <section class="population">
        <h1 class="heading">population affairs</h1>
        <div class="container-population">
            <div class="box-population">
                <img src="../icons/certificate.png" alt="">
                <h4>Real estate developer qualification certificate for sale projects</h4>
                <p>Completed Service Center</p>
                <button class="btn">start service</button>
            </div>
            <div class="box-population">
                <img src="../icons/promotion.png" alt="">
                <h4>Requesting emergency exceptions for residential projects</h4>
                <p>Completed Service Center</p>
                <button class="btn">start service</button>
            </div>
            <div class="box-population">
                <img src="../icons/registered.png" alt="">
                <h4>Register a new user in the white land fees</h4>
                <p>Completed Service Center</p>
                <button class="btn">start service</button>
            </div>
            <div class="box-population">
                <img src="../icons/search.png" alt="">
                <h4>Submit a request to update the white land data</h4>
                <p>Completed Service Center</p>
                <button class="btn">start service</button>
            </div>
        </div>
    </section>

    <section class="onsearch">
        <div class="container-onsearch">
            <div class="box">
                <h1>search more projects in the market</h1>
                <button class="btn">Visit the market</button>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container-footer">
            <div class="box-footer">
                <h1>real estate market</h1>
                <a href="#">Visit the market</a>
                <h1 class="products">Learn about sakani products</h1>
                <p>private sector projects</p>
                <p>Ready-made ministry villas product</p>
            </div>
            <div class="box-footer">
                <h1>Services</h1>
                <p>Real estate unit sorting service</p>
                <p>Check eligibility status</p>
                <p>Documentation of lease contracts</p>
                <p>engineering designs</p>
            </div>
            <div class="box-footer">
                <h1>Reports and data</h1>
                <p>rental indicators</p>
                <p>Interactive housing report</p>
                <p>Real estate indicators</p>
                <p>Real estate advisor</p>
            </div>
            <div class="box-footer">
                <h1>Connect with us</h1>
                <p>privacy policy</p>
                <p>List of housing support</p>
            </div>
        </div>
    </footer>

    <div class="copy">
        <h1>All rights reserved to Sakani © 2023 - <span>Developed and operated by National Housing</span></h1>
    </div>


    <!-- js file -->
        <script src="../script/script.js"></script>

          <!-- Swiper JS -->
          <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>


</body>
</html>