<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>Sakany || Services</title>
</head>

<body>


    <!-- section header start -->
    <header>
        <div class="container">
            <a href="../index.html" class="logo"> <span>Sakany</span> with anywhere</a>
            <nav class="navber">
                <a href="../index.html">Home</a>
                <a href="reports.html">Reports and data</a>
                <a href="services.html">Services</a>
                <a href="contact.html">Contact</a>
                <a href="real_estate_market.html">Real estate market</a>
                <a href="../auth/register.html">signup</a>
            </nav>
            <div id="translate"></div>
            <i class="fa-solid fa-bars" id="menu"></i>
        </div>
    </header>
    <!-- section header ends -->



    <section class="services">
        <h1 class="heading">Residential services</h1>
        <p class="help">We help you to own or rent your home, by providing a range of services that fulfill your
            aspirations and all your needs, to contribute to facilitating the ways for you to own your dream home.</p>
        <p class="star"><i class="fas fa-light fa-star"></i> The most popular services <span>Check eligibility
                status</span> <span>engineering designs</span></p>
        <div class="container-services">
            <div class="box-services">
                <div class="image">
                    <img src="../icons/resdenital_ar.svg" alt="">
                    <span>Housing support program</span>
                </div>
                <h2>Check eligibility status</h2>
                <a href="#">Instant service</a>
                <p>The service targets the male or female citizen to register in the Ministry's lists to request housing
                    support, and verify the applicant's eligibility based on the conditions for obtaining housing
                    support automatically.</p>
                <div class="lien"></div>
                <div class="flex">
                    <h2>Real estate advisor service</h2>
                    <a href="#">Instant service</a>
                </div>
                <p>According to criteria that contribute to achieving your aspirations to own your suitable home, and
                    with the aim of obtaining financial recommendations from financing institutions, we can, through
                    this service, check the entered financial recommendations and obligations to obtain a mortgage
                    easily and easily.</p>
            </div>
            <div class="box-services">
                <div class="image">
                    <img src="../icons/shape_ar.svg" alt="">
                    <span>rental services</span>
                </div>
                <h2>Pick-up and delivery service</h2>
                <a href="#">Instant service</a>
                <p>Receipt and delivery of rental units for the landlord and tenant</p>
                <div class="lien"></div>
                <div class="flex">
                    <h2>Documentation of the rental contract</h2>
                    <a href="#">Instant service</a>
                </div>
                <p>A service that enables the lessor or lessee, or their representative, to approve the documentation of
                    residential lease contracts, which were registered through the real estate broker in the Ejar
                    network.</p>
            </div>
            <div class="box-services">
                <div class="image">
                    <img src="../icons/solution_ar.svg" alt="">
                    <span>Self-build solutions</span>
                </div>
                <h2>engineering designs</h2>
                <p>Because the house is larger than a built-up area, it needs engineering foundations to evaluate it; On
                    the "sakani" platform, we offer a ready-made engineering service, so that your family's different
                    needs have a suitable home</p>
                <div class="lien"></div>
                <div class="flex">
                    <h2>List of contractors</h2>
                    <a href="#">Instant service</a>
                </div>
                <p>In order to facilitate your search for contractors approved by the Saudi Contractors Authority, we
                    provide you with a list of approved contractors with all the details that will help you in the
                    search process.</p>
                <div class="line"></div>
                <h2>List of engineering supervision offices</h2>
                <p>In order to guarantee outstanding quality and a cost that achieves your aspirations in a short time
                    that suits you</p>
            </div>
            <div class="box-services">
                <div class="image">
                    <img src="../icons/services_ar.svg" alt="">
                    <span>other</span>
                </div>
                <h2>Sorting real estate units</h2>
                <p>A service that enables the property owner or real estate developer to contract with engineering
                    offices to obtain the best suitable price offer</p>
                <div class="lien"></div>
                <div class="flex">
                    <h2>Incur value added tax</h2>
                    <a href="#">Instant service</a>
                </div>
                <p>The Ministry of Municipal and Rural Affairs and Housing in this service in exchange for a tax of 5%
                    for citizens in (the real estate disposals of the first residence, according to the required
                    conditions and criteria.</p>
                <div class="line"></div>
                <h2>Purchase coupons</h2>
                <p>Exceptional discounts With a sakani loyalty program, we offer you exclusive offers and discounts for
                    sakani beneficiaries</p>
            </div>
            <div class="box-services limited">
                <div class="image">
                    <img src="../icons/E-finance_ar.svg" alt="">
                    <span>Electronic finance</span>
                </div>
                <p>In order to provide all means of facilitation and satisfaction for Sakani users, the electronic
                    service now enables you to apply for electronic financing of real estate products without the need
                    to visit the financing agencies.</p>
            </div>
            <div class="box-services limited">
                <div class="image">
                    <img src="../icons/private-lands_ar_ar.svg" alt="">
                    <span>View residential units for sale</span>
                </div>
                <p>As an owner or broker, you can offer and sell housing units and lands within the "sakani" platform to
                    be available to beneficiaries, who are eligible for support and who are not, by providing financing
                    solutions and bearing the value-added tax for the "first home" to facilitate you and enable access
                    to it by those looking for a home.</p>
            </div>
        </div>
    </section>



    <section class="population">
        <h1 class="heading">population affairs</h1>
        <div class="container-population">
            <div class="box-population">
                <img src="../icons/certificate.png" alt="">
                <h4>Real estate developer qualification certificate for sale projects</h4>
                <p>Completed Service Center</p>
                <button class="btn">start service</button>
            </div>
            <div class="box-population">
                <img src="../icons/promotion.png" alt="">
                <h4>Requesting emergency exceptions for residential projects</h4>
                <p>Completed Service Center</p>
                <button class="btn">start service</button>
            </div>
            <div class="box-population">
                <img src="../icons/registered.png" alt="">
                <h4>Register a new user in the white land fees</h4>
                <p>Completed Service Center</p>
                <button class="btn">start service</button>
            </div>
            <div class="box-population">
                <img src="../icons/search.png" alt="">
                <h4>Submit a request to update the white land data</h4>
                <p>Completed Service Center</p>
                <button class="btn">start service</button>
            </div>
        </div>
    </section>

    <section class="onsearch">
        <div class="container-onsearch">
            <div class="box">
                <h1>search more projects in the market</h1>
                <button class="btn">Visit the market</button>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container-footer">
            <div class="box-footer">
                <h1>real estate market</h1>
                <a href="#">Visit the market</a>
                <h1 class="products">Learn about sakani products</h1>
                <p>private sector projects</p>
                <p>Ready-made ministry villas product</p>
            </div>
            <div class="box-footer">
                <h1>Services</h1>
                <p>Real estate unit sorting service</p>
                <p>Check eligibility status</p>
                <p>Documentation of lease contracts</p>
                <p>engineering designs</p>
            </div>
            <div class="box-footer">
                <h1>Reports and data</h1>
                <p>rental indicators</p>
                <p>Interactive housing report</p>
                <p>Real estate indicators</p>
                <p>Real estate advisor</p>
            </div>
            <div class="box-footer">
                <h1>Connect with us</h1>
                <p>privacy policy</p>
                <p>List of housing support</p>
            </div>
        </div>
    </footer>

    <div class="copy">
        <h1>All rights reserved to Sakani © 2023 - <span>Developed and operated by National Housing</span></h1>
    </div>


    <!-- js file -->
    <script src="../script/script.js"></script>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>


    <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
    <script>
        function loadGoogleTranslate() {
            new google.translate.TranslateElement("translate")
        }
    </script>

</body>

</html>